<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end" style="height: 50px">
    <div style="font-size: 22px ">
        <span class="navbar-text" style="color: white;" id="currentUser"></span>
    </div>
    <ul class="navbar-nav text-right ml-auto mr-1">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>
<div class="row" style="height: 1080px; margin-right: 0px">
    <div class="col-2" style="padding-right: 0px; margin-top: 13px">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active text-left" id="v-pills-home-tab" data-toggle="pill" data-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</button>
            <a class="nav-link text-left" href="/user" type="button" aria-selected="false">User</a>
        </div>
    </div>
    <div class="col-10 pl-4" style="background: #f8f9fa;">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active pr-4" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <h1 style="margin-top: 13px;">Admin panel</h1>
                <div>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="user-tab" data-toggle="tab" data-target="#user" type="button" role="tab" aria-controls="user" aria-selected="true">Users table</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="new-user-tab" data-toggle="tab" data-target="#new-user" type="button" role="tab" aria-controls="new-user" aria-selected="false">New User</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane show active" id="user" role="tabpanel" aria-labelledby="user-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">All users</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First name</th>
                                            <th scope="col">Last name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="usersTable">
                                        <script>
                                            async function fillUsersTable() {
                                                let response = await fetch("http://localhost:8080/api/users");
                                                let commits = await response.json();
                                                let li = ``;
                                                commits.forEach((user) => {
                                                    li += `<tr>
                                                        <td>${user.id}</td>
                                                        <td>${user.firstName} </td>
                                                        <td>${user.lastName}</td>
                                                        <td>${user.age}</td>
                                                        <td>${user.username}</td>
                                                        <td>${user.roles.map(role => role.name).join(" ")}</td>
                                                        <td><button class="btn btn-info" type="button" data-toggle="modal" data-id="${user.id}"
                                                        data-target="#userEdit">Edit</button></td>
                                                        <td><button type="button" class="btn btn-danger" data-toggle="modal" data-id="${user.id}"
                                                        data-target="#userDelete">Delete</button></td>
                                                        </tr>`
                                                });
                                                document.getElementById("usersTable").innerHTML = li;
                                            }

                                            async function fillCurrentUser() {
                                                let response = await fetch("http://localhost:8080/api/users/current");
                                                let commits = await response.json();
                                                let li = `<b>${commits.username}</b> with roles ${commits.roles.map(role => role.name).join(" ")}`;
                                                document.getElementById("currentUser").innerHTML = li;
                                            }

                                            window.onload = function() {
                                                fillUsersTable();
                                                fillCurrentUser();
                                                addRolesOptions();
                                            };
                                        </script>
                                        </tbody>
                                    </table>
                                    <div class="modal" id="userEdit" tabindex="-1" aria-labelledby="userEdut" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit user</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form class="mx-auto text-center" style="width: 230px" name="editForm" id="editForm">
                                                        <div class="form-group">
                                                            <label class="font-weight-bold mb-0" style="font-size: 16px" for="userIdEdit">ID</label>
                                                            <input type="text" class="form-control" id="userIdEdit" name="id" readonly/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="font-weight-bold mb-0" style="font-size: 16px" for="userFirstNameEdit">First Name</label>
                                                            <input type="text" class="form-control" id="userFirstNameEdit" name="firstName" required/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="font-weight-bold mb-0" style="font-size: 16px" for="userLastnameEdit">Last name</label>
                                                            <input type="text" class="form-control" id="userLastnameEdit" name="lastName" required/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="font-weight-bold mb-0" style="font-size: 16px" for="userAgeEdit">Age</label>
                                                            <input type="number" class="form-control" id="userAgeEdit" name="age" required/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="font-weight-bold mb-0" style="font-size: 16px" for="userEmailEdit">Email</label>
                                                            <input type="email" class="form-control" id="userEmailEdit" name="username" required/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="font-weight-bold mb-0" style="font-size: 16px" for="userPasswordEdit">Password</label>
                                                            <input type="password" class="form-control" id="userPasswordEdit" name="password" required/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="font-weight-bold mb-0" style="font-size: 16px" for="editUserRole">Role</label>
                                                            <select id="editUserRole" class="form-control" size="2" name="roles" multiple required>
                                                            </select>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeEditModal">Close</button>
                                                    <button type="submit" class="btn btn-primary" id="editUser" onclick="editUser()">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(() => {
                                            $('#userEdit').on('show.bs.modal', function (event) {
                                                let id = $(event.relatedTarget).attr("data-id")
                                                fillUpdateForm(id);
                                            })

                                            $('#userEdit').on('hidden.bs.modal', function () {
                                                document.getElementById('editForm').reset();
                                                $(this).removeData();
                                            })
                                        })

                                        async function fillUpdateForm(id) {
                                            let response = await fetch(`http://localhost:8080/api/users/${id}`);
                                            let commits = await response.json();
                                            editForm.id.value = commits.id;
                                            editForm.firstName.value = commits.firstName;
                                            editForm.lastName.value = commits.lastName;
                                            editForm.age.value = commits.age;
                                            editForm.username.value = commits.username;
                                            editForm.password.value = commits.password;
                                            commits.roles.forEach(function (element) {
                                                if (element.name === 'ADMIN') {
                                                    editForm.roles.options[0].selected = true;
                                                }
                                                if (element.name === 'USER') {
                                                    editForm.roles.options[1].selected = true;
                                                }
                                            });
                                            // editForm.roles.value = commits.roles;
                                            console.log(editForm.roles.value);
                                            console.log(commits.roles);
                                        }

                                        async function editUser() {
                                            let user = {
                                                id: editForm.id.value,
                                                firstName: editForm.firstName.value,
                                                lastName: editForm.lastName.value,
                                                age: editForm.age.value,
                                                username: editForm.username.value,
                                                password: editForm.password.value,
                                                roles: Array.from(editForm.roles)
                                                    .filter(option => option.selected)
                                                    .map(option => JSON.parse(option.value))
                                            };
                                            let response = await fetch(`http://localhost:8080/api/users`, {
                                                method: 'PUT',
                                                headers: {
                                                    'Content-Type': 'application/json'
                                                },
                                                body: JSON.stringify(user)
                                            })
                                            if (response.ok) {
                                                document.getElementById('closeEditModal').click()
                                                await fillUsersTable();
                                            }
                                        }
                                    </script>
                                    <div class="modal" id="userDelete" tabindex="-1" aria-labelledby="userDelete" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Delete user</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form class="mx-auto text-center" style="width: 230px" name="deleteForm" id="deleteForm">
                                                        <div class="form-group">
                                                            <label class="font-weight-bold mb-0" style="font-size: 16px" for="userIdDelete">ID</label>
                                                            <input type="text" class="form-control" id="userIdDelete" name="id" readonly/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="font-weight-bold mb-0" style="font-size: 16px" for="userFirstNameDelete">First Name</label>
                                                            <input type="text" class="form-control" id="userFirstNameDelete" name="firstName" readonly/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="font-weight-bold mb-0" style="font-size: 16px" for="userLastnameDelete">Last name</label>
                                                            <input type="text" class="form-control" id="userLastnameDelete" name="lastName" readonly/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="font-weight-bold mb-0" style="font-size: 16px" for="userAgeDelete">Age</label>
                                                            <input type="text" class="form-control" id="userAgeDelete" name="age" readonly/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="font-weight-bold mb-0" style="font-size: 16px" for="userEmailDelete">Email</label>
                                                            <input type="text" class="form-control" id="userEmailDelete" name="username" readonly/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="font-weight-bold mb-0" style="font-size: 16px" for="deleteUserRole">Role</label>
                                                            <select id="deleteUserRole" class="form-control" size="2" name="roles" multiple disabled>
                                                            </select>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeDeleteModal">Close</button>
                                                    <button type="button" class="btn btn-danger" id="deleteUser" onclick="deleteUser()">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(() => {
                                            $('#userDelete').on('show.bs.modal', function (event) {
                                                let id = $(event.relatedTarget).attr("data-id")
                                                fillDeleteForm(id);
                                            })

                                            $('#userDelete').on('hidden.bs.modal', function () {
                                                document.getElementById('deleteForm').reset();
                                                $(this).removeData();
                                            })
                                        })

                                        async function fillDeleteForm(id) {
                                            let response = await fetch(`http://localhost:8080/api/users/${id}`);
                                            let commits = await response.json();
                                            deleteForm.id.value = commits.id;
                                            deleteForm.firstName.value = commits.firstName;
                                            deleteForm.lastName.value = commits.lastName;
                                            deleteForm.age.value = commits.age;
                                            deleteForm.username.value = commits.username;
                                            deleteForm.roles.value = commits.roles;
                                        }

                                        async function deleteUser() {
                                            let response = await fetch(`http://localhost:8080/api/users/${deleteForm.id.value}`, {
                                                method: 'DELETE'
                                            })
                                            if (response.ok) {
                                                document.getElementById('closeDeleteModal').click()
                                                await fillUsersTable();
                                            }
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="new-user"  role="tabpanel" aria-labelledby="new-user-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">Add new user</h5>
                                </div>
                                <div class="card-body align-self-center text-center">
                                    <form style="width: 350px" name="addForm" id="addForm">
                                        <div class="form-group">
                                            <label class="font-weight-bold mb-0" style="font-size: 16px" for="exampleFormControlInput1">First name</label>
                                            <input type="text" name="firstName" class="form-control" id="exampleFormControlInput1" placeholder="First name" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold mb-0" style="font-size: 16px" for="exampleFormControlInput2">Last name</label>
                                            <input type="text" name="lastName" class="form-control" id="exampleFormControlInput2" placeholder="Last name" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold mb-0" style="font-size: 16px" for="exampleFormControlInput3">Age</label>
                                            <input type="number" name="age" class="form-control" id="exampleFormControlInput3" placeholder="Age">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold mb-0" style="font-size: 16px" for="exampleFormControlInput4">Email</label>
                                            <input type="email" name="username" class="form-control" aria-describedby="emailHelp" id="exampleFormControlInput4" placeholder="Email" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold mb-0" style="font-size: 16px" for="exampleFormControlInput5">Password</label>
                                            <input type="password" name="password" class="form-control" id="exampleFormControlInput5" placeholder="Password" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold mb-0" style="font-size: 16px" for="addNewUserSelect">Role</label>
                                            <select multiple class="form-control" id="addNewUserSelect" name="roles" size="2" required>
                                                <script>
                                                    async function addRolesOptions() {
                                                        let response = await fetch("http://localhost:8080/api/users/roles");
                                                        let commits = await response.json();
                                                        let li = ``;
                                                        commits.forEach(element => {
                                                            li += `<option value='{"id": ${element.id}, "name": "${element.name}"}'>${element.name}</option>`
                                                        });
                                                        document.getElementById("addNewUserSelect").innerHTML = li;
                                                        document.getElementById("deleteUserRole").innerHTML = li;
                                                        document.getElementById("editUserRole").innerHTML = li;
                                                    }
                                                </script>
                                            </select>
                                        </div>
                                        <button type="button" class="btn btn-success" onclick="addFormButton()">Add new user</button>
                                        <script>
                                            async function addFormButton() {
                                                let user = {
                                                    firstName: addForm.firstName.value,
                                                    lastName: addForm.lastName.value,
                                                    age: parseInt(addForm.age.value),
                                                    username: addForm.username.value,
                                                    password: addForm.password.value,
                                                    roles: Array.from(addForm.roles)
                                                        .filter(option => option.selected)
                                                        .map(option => JSON.parse(option.value))
                                                };
                                                let response = await fetch("http://localhost:8080/api/users", {
                                                    method: 'POST',
                                                    headers: {
                                                        'Content-Type': 'application/json'
                                                    },
                                                    body: JSON.stringify(user)
                                                });
                                                let result = await response.json();
                                                if (response.ok) {
                                                    $('.nav-tabs a:first').tab('show');
                                                    document.getElementById('addForm').reset();
                                                    await fillUsersTable();
                                                }
                                            }
                                        </script>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>